body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

#ball{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 100%;
    position: relative;
    top: 500px;
    left: 500px;
}

.container{
    position: relative;
    margin: 0px;
    padding: 0px;
}

#leftSide{
    width: 2px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    left: 25px;
}

#rightSide{
    width: 2px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    margin: 0px;
    top: 400px;
    right: 25px;
}